@font-face {
  font-family: 'Anton';
  font-style: normal;
  src: url('/fonts/Anton-Regular-2.ttf');
}
/* gantari-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Gantari';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/gantari-v1-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
body,
html {
  /* --body-top-padding: 24px;
  -webkit-font-smoothing: antialiased;
  color: var(--sand12);
  font: var(--text-base); */
  margin: 0;
  padding: 0;
  font-family: Gantari;
  background-color: #16181d;
}